$primary-color = #2693FF
$secondary-color = #1AD18F
$gray-color = #E9F4FB
$text-bold = #283848
$text = #4E657B
$error =  #FF2E79;
$alert =  #FFC42E;


.alert-color
  background-color: $alert

.error-color
  background-color: $error
